<div>
    <h1>CREATE ACCOUNT</h1>
    <form action="">
        <div>
            <label for="">{{ form.username.label }}</label> {{ form.username() }}
            <span></span>
        </div>
        <div>
            <label for="">{{ form.email.label }}</label> {{ form.email() }}
            <span></span>
        </div>
        <div>
            <label for="">{{ form.plain_password.label }}</label> {{ form.plain_password }}
            <span></span>
        </div>
        <div>
            <label for="">{{ form.plain_password2.label }}</label> {{ form.plain_password2 }}
            <span></span>
        </div>
        <br>
        <div>
            <input type="button" value="">
        </div>
    </form>
</div>
